@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Inter Tight", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
a:hover {
  background-color: #003049;
  border-radius: 12px;
  transition: 0.3s;
  color: white;
}
li {
  margin: 10px 0;
  list-style: none;
}
fieldset {
  border: 2px solid #003049;
  height: 100%;
  border-radius: 12px;
  padding: 0 20px;
}
th {
  background-color: #003049;
  color: white;
}

.header {
  height: 60px;
  background-color: #003049;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftContent {
  width: 20%;
  padding: 0 20px;
  height: auto;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 700px;
}

.mainContent {
  flex: 1;
  width: 55%;
  height: 100%;
  padding: 0 20px;
}

img {
  margin: 20px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
h1 {
  text-align: center;
  color: white;
  margin: 0;
  padding: 20px 0;
}
ul {
  list-style-type: none;
  margin-top: 20px;
  color: white;
}
.biodata {
  margin: auto;
  height: 100%;
  border-radius: 10px;
  background-color: #003049;
}

.biodata img {
  display: block;
}

.rightContent {
  width: 20%;
  padding: 0 20px;
  height: auto;
}

.footer {
  margin-top: 20px;
  height: 60px;
  background-color: #003049;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
